body {
  background-color: lightgray;
  color: black;
  font-family: verdana;
  max-width: 400px;
}

.about {
  max-width: 300px;
}

h1 {
  font-size: 34px;
  font-weight: normal;
  color: green;
}

.centtext {
    width: 500px; 
    max-width: 90%;
    text-align: left;
    margin-left: 300px;
    margin-bottom: 700px;
}

hr {
  max-width: 230px;
}
