body {
  background-color: lightgray;
  color: black;
  font-family: verdana;
  max-width: 400px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  color: green;
}

.centtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
