body {
  background-color: #36454F;
  color: white;
  font-size: 15.3px;
  font-family: Tahoma;
  max-width: 400px;
}

.about {
  max-width: 300px;
}

h1 {
  font-size: 34px;
  font-weight: normal;
  color: #F3E6BB;
}

.centtext {
    width: 400px; 
    display: flex;
    justify-content: center;
    top: 0;
}

hr {
  max-width: 230px;
}
